.label {
  text-align: center;
}
#playercount-label {
  width: 100%;
}
.button {
  padding: 10px 20px;
  font-size: 25px;
  font-weight: bold;
  background-color: rgb(15, 182, 0);
  color: black;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  cursor: pointer;
  white-space: nowrap;
}
.button:hover {
  background-color: rgb(17, 204, 0);
}
.label-button {
  background-color: rgb(0, 119, 255);
  pointer-events: none;
  border-radius: 0;
  border: 0;
  font: caption;
}

.selected-button {
  pointer-events: none;
  border: 3px white solid;
  color: white;
}

.settings-screen button {
  margin: 5px;
}

#rows-button,
#cols-button {
  margin-right: 10%;
}

#UI-width-button,
#UI-height-button {
  white-space: nowrap;
  margin-right: 4.5%;
}

#reset-highscore-button {
  margin-top: 50%;
  color: rgb(219, 219, 219);
  background-color: rgb(163, 0, 0);
}
#reset-highscore-button:hover {
  background-color: rgb(211, 0, 0);
}
#playermode-button {
  background-color: blueviolet;
}
#playermode-button:hover {
  background-color: rgb(158, 57, 252);
}

#settings-button {
  background-color: rgb(206, 206, 6);
}
#settings-button:hover {
  background-color: rgb(231, 231, 44);
}
#playercount-buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#playercount-buttons-container button {
  width: 90%;
  height: 100%;
}

#gamemode-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}


#gamemode-buttons-container .primary-gamemode-button {
  width: 80%;
}

#gamemode-buttons-container button {
  height: 100%;
}

.gear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18%;
}

#rows-slider-textbox,
#cols-slider-textbox,
#UI-width-slider-textbox,
#UI-height-slider-textbox,
#lengthbattle-score-slider-textbox {
  width: 8%;
  height: 30%;
  text-align: center;
}

.player-controls-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 3px;
  box-sizing: border-box;
}

