.center-panel {
  display: flex;
  position: relative; /*will position its children relative to itself*/
}

.top-panel,
.bottom-panel,
.left-panel,
.right-panel {
  box-sizing: border-box;
  position: absolute;

  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: rgb(20, 20, 20);
  border: 1px solid rgba(118, 250, 255, 0.44);
}

.top-panel {
  top: -3px;
  transform: translateY(-100%);
  width: 100%;
  height: 17%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 20; /* higher than the endscreen */
  pointer-events: none; /* so it doesn't block clicks */
}

.bottom-panel {
  position: absolute;
  bottom: -3px;
  transform: translateY(100%);
  width: 100%;
  height: 12%;
  
  display: flex;
  justify-content: space-evenly; /* centered by default */
  align-items: center;
  text-align: center;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  z-index: 20; /* higher than the endscreen */
}

.left-panel,
.right-panel {
  top: 0px;
  width: fit-content;
  height: 100%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-panel {
  transform: translateX(-100%);
  left: -3px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  justify-content: flex-start;
  gap: 10%;
}

.right-panel {
  transform: translateX(100%);
  right: -3px;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;


}

#playermode-button {
  background-color: blueviolet;
}
#playermode-button:hover {
  background-color: rgb(158, 57, 252);
}

#settings-button {
  background-color: rgb(206, 206, 6);
}
#settings-button:hover {
  background-color: rgb(231, 231, 44);
}

#playercount-label {
  width: 100%;
}

#playercount-div,
#gamemodes-div,
#scores-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#playercount-buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#playercount-buttons-container button {
  width: 90%;
  height: 100%;
}

#gamemode-buttons-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

#gamemode-buttons-container div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#gamemode-buttons-container .primary-gamemode-button {
  width: 80%;
}

#gamemode-buttons-container button {
  height: 100%;
}

.gear-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 18%;
}

#player-scores-div {
  display: flex;
  justify-content: space-evenly;
}

.label {
  text-align: center;
}